<div class="chats">
  <h3>Chat With Us</h3>
  <p align="center">All three are connected so just choose your favorite!</p>
  <a href="https://discord.gg/tz2u6m7"><button position="relative" class="button">Discord</button></a>
  <a href="https://matrix.to/#/%23agoranomiccommunity%3Amozilla.org?via=mozilla.org&via=matrix.org"><button
      position="relative" class="button">Matrix</button></a>
  <a href="irc:irc.libera.chat/##nomic"><button position="relative" class="button">IRC</button></a>
  <a href="https://web.libera.chat/##nomic"><button position="relative" class="button">IRC (Web)</button></a>
</div>