<div class="nvbr desktop">
  {% for item in site.data.nav %}
  <a class="{% if item.url == page.url %}active{% endif %}" href="{{ item.url }}">{{ item.label }}</a>
  {% endfor %}
</div>
<div class="nvbr mobile dropdown">
  <center><button class="dropbtn">Menu</br>☰</button></center>
  <div class="dropdown-content">
    {% for item in site.data.nav %}
    <a class="{% if item.url == page.url %}active{% endif %}" href="{{ item.url }}">{{ item.label }}</a>
    {% endfor %}
  </div>
</div>

<img class="coat-of-arms" src="https://agoranomic.org/coat_of_arms.png" align="right">

<div class="nvpad"></div>