<div class="nvbr desktop">
  <a class="home" href="/index">Home</a>
  <a class="join" href="/join">Join</a>
  <a class="play" href="/play">How To Play</a>
  <a class="rules" href="/ruleset/">Rules</a>
  <a class="judgments" href="/judgments">Judgments</a>
  <a class="glossary" href="/glossary">Glossary</a>
  <a class="calendar" href="/calendar">Calendar</a>
  <a class="archives" href="/archives">Archives</a>
  <a class="herald" href="/Herald/">Herald</a>
</div>
<div class="nvbr mobile dropdown">
  <center><button class="dropbtn">Menu</br>☰</button></center>
  <div class="dropdown-content">
    <a class="home" href="/index">Home</a>
    <a class="join" href="/join">Join</a>
    <a class="play" href="/play">How to Play</a>
    <a class="rules" href="https://agoranomic.org/ruleset/">Rules</a>
    <a class="judgments" href="/judgments">Judgments</a>
    <a class="glossary" href="/glossary">Glossary</a>
    <a class="calendar" href="/calendar">Calendar</a>
    <a class="archives" href="/archives">Archives</a>
    <a class="herald" href="/Herald/">Herald</a>
  </div>
</div>

<img class="coat-of-arms" src="https://agoranomic.org/coat_of_arms.png" align="right">

<div class="nvpad"></div>