<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title}} | {{site.name}}</title>
    <style>

    html {
        color: #333;
        line-height: 1.5rem;
    }
    
    body .container {
        margin-top: 5px;
    }
    
    body .content {
        margin-top: 60px;
        width: 750px;
        margin-left: auto;
        margin-right: auto;
    }
    
    body .container {
        width: 750px;
    }
    
    </style>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>

    {% include Header/header.html %}
    
    <div class="content">
    {{ content }}
    </div>
 
</body>
</html>
